.Logo {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.Logo li {
    margin: 8px;
}

.LinkStyles {
    color: white;
    text-decoration: none;
}

@Media(min-width: 500px) {
    .Logo {
        flex-flow: row;
    }
}