.Landing{
    top: auto;
    padding-top: 72px;
    margin-top: 56px;
    text-align: center;
    background: url("../../images/showcase.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

